@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

:root {
  --fuentePrincipal: "Rubik", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #f3904f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3b4371,
    #f3904f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3b4371, #f3904f);
  font-family: var(--fuentePrincipal);
  line-height: 1.5;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  margin-top: 10%;
}

.reloj-contenedor {
  font-size: 5rem;
  font-weight: bold;
}

.sombra {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}
#fecha {
    letter-spacing: 1rem;
    font-size: 1.5rem;
}